.icon-sm {
  font-size: $font-size-sm !important;
}

.icon-md {
  font-size: $font-size-base !important;
}

.icon-lg {
  font-size: $font-size-lg !important;
}

.steps-content {
  margin-top: $padding-lg;
  border-radius: 5px;
  background-color: $card-bg;
  padding: $padding-lg;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.steps-action {
  margin-top: $padding-lg * 2;
}

.table-record-tooltip {
  margin-right: 4px;
}

.hidden {
  display: none;
}

.application-section {
  padding-top: 30px;
}

.application-subsection {
  padding-top: 15px;
}

.application-checkbox-section {
  .ant-form-item {
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 0;
  }
  margin-bottom: 20px;
}
