.header-logo {
  float: left;
  margin-right: 32px;

  @include screen-md {
    padding-left: $padding-sm;
    margin-right: 16px;
  }
}

#bc-gov-header-img {
  height: 100% !important;
  width: 154px !important;
}

.header-title {
  color: $white;
  font-size: $heading-4-size;
  font-weight: bold;
  & a {
    color: $white !important;
    text-decoration: none !important;
  }
}

.header-menu {
  float: right;
}

#dropdown-menu-mobile-button {
  border: none;
  background-color: transparent !important;
  z-index: 10000;
  height: auto;
}

#dropdown-menu-mobile-icon {
  font-size: $heading-1-size !important;
  vertical-align: middle;
}

.header-link {
  color: $white;
  padding: 29px $padding-md 29px $padding-md;
  &:hover,
  &.active {
    color: $white;
    background-color: $primary-5 !important;
    text-decoration: none;
  }
  text-decoration: none;
  font-weight: bold;
  margin-left: $padding-xs;
}

.header-dropdown-menu {
  text-align: center;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: bold !important;
  & a {
    text-decoration: none;
  }
}

.header-authorization-timer {
  font-size: $heading-3-size;
  color: $white;

  & .anticon {
    font-size: $heading-3-size;
  }
}
