-- Create Metabase User if it doesn't exist
DO
$$
BEGIN
    IF NOT EXISTS(select from pg_catalog.pg_roles where rolname= 'metabase') THEN
        CREATE USER metabase with PASSWORD '$METABASE_USER_PASSWORD';
    END IF;
END
$$;
