# ----------------------------------------------------------------------
# | API endpoint                                                       |
# ----------------------------------------------------------------------

# Proxy incoming requests for /api to the backend container

location ${PATH_PREFIX}/api/ {
        if (-f /opt/app-root/src/html/maintenance_on.html){
                return 503;
        }

        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass ${API_SERVICE_URL}${PATH_PREFIX}/api/;
        include /opt/app-root/etc/nginx.conf.d/proxy.params;
}

location ${PATH_PREFIX}/api/v1/ {
        if (-f /opt/app-root/src/html/maintenance_on.html){
                return 503;
        }
        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass ${API_SERVICE_URL}${PATH_PREFIX}/api/;
        include /opt/app-root/etc/nginx.conf.d/proxy.params;
}