# ----------------------------------------------------------------------
# | Redirect Prod Configuration                                        |
# ----------------------------------------------------------------------

# Forwards all traffic to landing page unless DSRP-Bypass is set to true

# if ("${DSRP_DOMAIN}" = "dormant-site-reclamation.gov.bc.ca") {
if ("${DSRP_DOMAIN}" = "dsrp-dev.pathfinder.gov.bc.ca") {
  include /opt/app-root/etc/nginx.conf.d/sub_redirect.conf
}
