# ----------------------------------------------------------------------
# | Redirect Prod Configuration                                        |
# ----------------------------------------------------------------------

# Forwards all traffic to landing page unless DSRP-Bypass is set to true

set $prod 0;
set $domain ${DSRP_DOMAIN};

if ($domain = dormant-site-reclamation.gov.bc.ca) {
  set $prod 1;
}
if ($http_dsrp_bypass = true) {
  set $prod 0;
}
if ( $uri ~ ^/api(.*) ) {
  set $prod 0;
}
if ( $uri ~ ^/files(.*) ) {
  set $prod 0;
}
add_header X-prod "$prod";

if ($prod = 1) {
  rewrite ^/(.*)$ https://www2.gov.bc.ca/gov/content/home last;
}